$sfui-display: 'SFUI-Display', sans-serif;


$white: #ffffff;
$black: #000000;
$yellow: rgb(219, 175, 67);
$light-grey: #eceff1;
$grey: #F8FAFC;

$xl-font-size: 24px;
$lg-font-size: 16px;
$md-font-size: 14px;
$sm-font-size: 12px;